body {
  background-color: #7599c7;/*задний фон страницы*/
}
.main_block { /*блок со стилями страницы А4*/
  width: 466px; 
  height: 760px; 
  padding: 48px 40px 30px 80px; 
  margin: 10px auto; 
  box-shadow: 0px 0px 3px black; 
  background-color: white; 
  font-family: "Times New Roman"; 
  font-size: 14px;
}
.first_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; /*вырвавнивание по ценнтру*/
}
.minis_obr {
  line-height: 24px; /*толщина линий*/
  font-size: 14px; /*размер шрифта*/
  margin: 0px 0px 0px 0px; /*отступы*/
}

.course_work {
  margin: 58px 0px 10px 0px;
  font-size: 35px;
  font-weight: bold; /*стиль шрифта*/
 
}

.theme {
  display: flex;
  flex-direction: column;
  justify-content: center; /*размещения контента по центру*/
  font-size: 14px;
}
.about_course {
  margin: 0px 0px 0px 0px;
}
.line_bot_txt_1 {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 74%;
  margin: 0px 0px 7px 122px;
}
.line_bot_txt_2 {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 61%;
  margin: 0px 0px 7px 84px;
}
.line_bot_txt_3 {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px;
  width: 45%;
  margin: 0px 0px 0px 36px;
}
.raiting {
  display: flex;
  flex-direction: column;
}
.ocenka {
  margin: 33px 0px 0px 60px;
  color: white;
}
.line_bot_rait {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 80px;
  margin: 0px 0px 0px 25px;
}

.rait_txt {
  font-size: 8px;
  margin: 0px 0px 0px 50px;
}
.team_comiss {
  display: flex;
  justify-content: space-between;
  width: 455px;
  margin-left: 10px;
}
.team_comis_and_norm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  height: 350px;
}
.team_comis {
  margin: 26px 0px 0px -85px;
}
.line_team_comis {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.team_comis_txt {
  font-size: 8px;
}

.team_comis_name_1{
    margin-bottom: 0px;
}

.team_comis_name_pd {
  font-size: 14px;
  margin-bottom: -3px;
  color: white;
  
}
.podp_data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 22px;
  width: 100%;
}
.line_team_comis_podp {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.line_team_comis_date {
  border: none; /* Убираем границу */
  background-color: black; /* Цвет линии */
  color: black; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pd {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95px;
  height: 23px;
}

.team_norm {
  margin: 24px 0px 11px -86px;
}

.team_ruc_ob {
  margin: 26px 0px 11px -98px;
}

.year{
  font-size: 14px;
}

.block-title {
  display: flex;
  justify-content: space-between;
}

.title_text {
  width: 35%;
  text-align: center;
  font-size: 10px;
}

.title_img img{
  width: 50px;
  margin-bottom: 20px;
}

.block_graphik {

}

.block_reg-lit {
  margin-top: 25px;
  text-align: justify;
}

.work_first_page{
  font-size: 18px;
  font-weight: bold;
}

.block_reg-lit span {
  text-decoration: underline;
}

.block_text {
    margin-top: 20px;
    text-align: center;
}

.block_text-title {
    text-transform: uppercase;
    font-weight: 700;
}

.block_table {
    margin-top: 15px;
}

.table_first{
  font-size: 14px;
}
table {
    border: 1px solid;
    border-collapse: collapse;
}

td {
    border: 1px solid;
    text-align: center;
}

.block_rukov {
    display: flex;
    justify-content: start;
    margin-top: 152px;
}

.block_rukov .pd {
  margin-top: 5px;
  margin-left: 15px;
}

.block_prin {
  margin-top: 25px;
}

.block_prin .rukov-text {
  width: 45%;
}

.block_dan {
    margin-top: 40px;
}

.block_dan .about_course {
  margin-top: 5px;
}

.about_course span {
  text-decoration: underline;
}

.stat_text span {
  font-weight: 600;
}

.block_stat {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.rukov_right_ots{
  margin-right: 109px;
}

.otstup_pd{
  padding-top: 14px;
}

.left_rot{
  text-align-last: left; /*выравнивание по левому краю*/
}

.block_text-fio {
    margin-top: 15px; /*отпступ*/
}

.block_text-fio {
    margin-top: 15px; /*отпступ*/
}

.block_text-fio .team_comis_txt {
  margin-left: 180px; /*отпступ*/
}

.block_text-fio .about_course {
  margin-top: 15px; /*отпступ*/
}

.main_spisok_lit{
  font-weight: bold;
  font-size: 14px;
}

.spisok_lit{ 
  margin: 0 0 0 0 ;/*отпступы*/
}

.main_content{
  font-size: 14px;/*размер шрифта*/
}

.soderjj{
  width: 100%;
  text-align: center;
}

.title_coderj{
  font-weight: 700;
}

.main_text_soderj{
  width: 100%;
  padding-top: 20px;
  text-align: left;
}

.title_content{
  font-size: 14px;
  font-weight: 700;
  text-indent: 2em;
}

.main_content_text{
  text-indent: 2em;
  text-align:justify;
  font-size: 14px;
}
.image_number{
  display: flex;
  flex-direction: column;
  align-items: center;
}

